HTML,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    height: 100vh;
}
.test {
    background-color: red;

    .inner {
        height: 200%;
        width: 100%;
        background-color: blue;
    }
}
